.card-container {
    background: #ffffff;
    border-radius: 0.3rem;
    padding: 1.5rem;
    width: 14rem;
    color: rgba(55, 58, 69, 0.959);
    margin: 0 2rem;
    box-shadow: 0 1rem 2rem 0 rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header {
    position: relative;
    top: -2.5rem;
}

.day-tag {
    display: flex;
    justify-content: center;
    background: #C0C7CA;
    border-radius: 0.125rem;
    color: #ffffff;
    padding: 0.1rem 0;
    box-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.15);
    margin-bottom: 0.3rem;
}

.temp-condition-icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

span {
    font-size: 1rem;
}

h2 {
    margin: 0;
    color: #ffffff;
    font-size: 1rem;
    padding: 0.5rem 0
}

.temperature {
    font-size: 2rem;
}

.wind-speed,
.humidity,
.pressure,
.feels-like {
    color: #AFB0C2;
    font-size: 0.8rem;
    padding: 0.1rem 0;
}

.feels-like > sup > span {
    font-size: 0.5rem;
}

.weather-condition {
    font-size: 1rem;
    text-transform: capitalize;
}

.icon-temperature {
    display: flex;
    align-items: center;
}

.location-date {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.weather-icon {
    margin-right: -1.2rem;
}

.footer {
    margin-top: 2rem;
}

.twilight-hours {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.subheader {
    border-bottom: 2px solid rgb(217, 218, 231, 0.5) ;
    padding: 0 3rem 0.5rem 3rem ;
}

.sunrise-sunset {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.sunrise,
.sunset {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #AFB0C2;
    font-size: 0.8rem;
}

.sunrise {
    margin-right: 3rem;
}

.sunrise-svg,
.sunset-svg {
    width: 60%;
}

.location-date {
    margin-top: 1rem;
}

.location {
    font-size: 1.2rem;
}

.date {
    font-size: 0.8rem;
    color: #AFB0C2;
}
