.card-container {
    background: #fff;
    border-radius: 0.5rem;
    padding: 1rem;
    min-width: 12.5rem;
    /* margin: 2rem; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

h1 {
    margin: 0;
    font-size: 2rem;
    color: red;
}

h2 {
    text-transform: capitalize;
}

.header .date {
    font-size: 1.125rem;
}

.weather-condition {
    margin: 2rem 0;
    font-size: 1.5rem;
}

.icon-temperature {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.temperature {
    font-size: 2rem;
}

.location {
    font-size: 1.5rem;
}
