.card-list-container {
    width: 100%;
}

.card-list-wrapper {
    overflow: hidden;
}

.card-list {
    display: flex;
    justify-content: space-between;
    overflow: scroll;
    width: 100%;
}

/* .card-list-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
} */

/* .card-list {
    display: flex;
    overflow: scroll;
    padding: 6rem;
    width: 40%;
} */
