.app {
  background: #F0F4F7;
  width: 100%;
}

.app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.widget-list {
  display: flex;
}

Row {
  justify-content: space-between;
}
